.password-field{
    background-color: #303030;
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 100%;
    justify-content: space-between;
}

.password-field input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}